@mixin bottom($name, $color) {
  .btn-#{$name} {
    font-family: inherit;
    width: 100px;
    height: 50px;
    padding: 0.5rem;
    background-color: $color;
    border-radius: 4px;
  }
  .btn-#{$name}:hover {
    box-shadow: 3px 3px 3px rgb(0 0 0/0.5);
    color: $color-text;
  }
}

@include bottom('blue', $color-btn-blue);
@include bottom('orange', $color-btn-orange);
@include bottom('green', $color-btn-green);
